<launch>
  <param name="/use_sim_time" value="false" />
 
 <param name="robot_description" textfile="$(find llb_nav)/description/llb_car_camera_follower.urdf" />
    
  <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
      <rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
  </node> 
  
   
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
   
</launch>
