<launch>

	<!-- Arguments -->
	<arg name="disparity_params" default="$(find chapter5_tutorials)/config/viso2_demo/disparity.yaml"/>
	
  <arg name="camera" default="/stereo_forward"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Play the bagfile-->
  <arg name="bagdir" default="$(find chapter5_tutorials)/bag/viso2_demo"/>
   
  <arg name="bagfile" default="$(find chapter5_tutorials)/bag/viso2_demo/test.bag"/> <!-- Find it on http://srv.uib.es/public/viso2_ros/sample_bagfiles/  -->
  
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)" />
  <!-- Run the stereo image proc -->
  <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" />

  <!-- Viso2 
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>
  </node>
 -->
</launch>
